.jumbotron {
    border:2px solid fuchsia;
    /* background-image: url(images/neon_waves_3-2560x1440.jpg);
    background-size: cover;
    background-color: black; */
    box-shadow: fuchsia 2px 2px 10px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
}

.video-bg {
    z-index: -1;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.jumbotron h1 {
    color: dodgerblue;
    text-shadow: #F45E4C 0px 0px 4px;
    font-family: 'Luckiest Guy', cursive;
    animation-name: image;
    animation-iteration-count: initial;
    animation-duration: 2.2s;
    transition: all ease-in cubic-bezier(0.23, 1, 0.320, 1);
}

 p {
     font-size: 2rem;
     text-shadow: fuchsia 0px 0px 4px;
    color: black;
    font-family: 'Luckiest Guy', cursive;
    margin: 20px;
    animation-name: animate;
    animation-iteration-count: initial;
    animation-duration: 2.2s;
    transition: all ease-in cubic-bezier(0.23, 1, 0.320, 1);
}


.img-circle {
    width: 200px;
    border-radius: 50%;
    border: 1px solid fuchsia;
    box-shadow: fuchsia 0px 0px 10px; 
    animation-name: image;
    animation-iteration-count: initial;
    animation-duration: 2.2s;
    transition: all ease-in cubic-bezier(0.23, 1, 0.320, 1);
    position: relative;
}



.fab {
    margin: 10px;
    font-size: 58px;
    color:black;
    text-shadow: dodgerblue 0px 0px 4px;
    animation-name: animate;
    animation-iteration-count: initial;
    animation-duration: 2.2s;
    transition: all ease-in cubic-bezier(0.23, 1, 0.320, 1); 
}

@keyframes image {
    0% {
        opacity:0.0;
        transform: translateX(-450px);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes animate {
    0% {
        opacity:0.0;
        transform: translateX(450px);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.fab:hover {
    transform: scale(1.2);
    transition: all ease-in-out 400ms;
}



