body,
html {
  min-height: 100vh;
  background-repeat: no-repeat;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* //background Effects Start// */
.shape1 {
  width: 40vh;
  height: 40vh;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  /* border-radius: 50%; */
  z-index: -2;
  position: absolute;
  top: -50px;
  right: -100px;
  position: fixed;
  -webkit-clip-path: polygon(50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(230deg);
}

@keyframes shadow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shape2 {
  width: 40vh;
  height: 40vh;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  /* border-radius: 50%; */
  z-index: -2;
  position: absolute;
  top: 380px;
  left: -100px;
  position: fixed;
  transform: rotate(-70deg);
  -webkit-clip-path: polygon(50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.shape3 {
  width: 20vh;
  height: 20vh;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  /* border-radius: 50%; */
  -webkit-clip-path: polygon(50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -2;
  position: absolute;
  bottom: -80px;
  right: -60px;
  position: fixed;
  transform: rotate(180deg);
  animation-name: shadow;
  animation-duration: 20s;
  transition: all ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shape4 {
  width: 20vh;
  height: 20vh;
  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  /* border-radius: 50%; */
  -webkit-clip-path: polygon(50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -2;
  position: absolute;
  top: -60px;
  left: -80px;
  position: fixed;
  transform: rotate(180deg);
  animation-name: shadow;
  animation-duration: 20s;
  transition: all ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* //background Effects end// */

#myBtn {
  display: inline-block;
  position: fixed;
  height: 10vh;
  z-index: 1000;
  bottom: 0px;
  right: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  width: 90vw;
  height: 80vh;
  margin: 0vh auto 15vh auto;
  border-radius: 1px;
  display: flex;
  box-shadow: 0px 20px 20px -7px rgba(0, 0, 0, 0.75);
  justify-content: center;
  border: 0.5px solid rgba(0, 0, 0, 0.034);
  z-index: 2;
  overflow-y: scroll;
}

.portContain {
  /* background-color: rgba(255, 255, 255, 0.2); */
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 95%;
  height: 100%;
  margin: 30px auto;
  border-radius: 1px;
  /* border: 4px solid rgb(0, 0, 0); */
  z-index: 2;
}

/* Scroll magic effects */
.about {
  left: -2000px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 95vw;
  min-height: 100vh;
  overflow-y: scroll;
  margin: 30px auto;
  border-radius: 1px;
  z-index: 2;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.296);
  border-top: 0.5px solid rgba(0, 0, 0, 0.296);
}

#portfolio {
  right: -2000px;
}

#contact {
  opacity: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.385);
  transform: scale(0.5);
  width: 90vw;
}

#contact.fade-in {
  transition: 800ms ease-in-out;
  opacity: 1;

  transform: scale(1);
}

/* Scroll magic effects  end*/

.skills {
  top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 5vh;
  position: absolute;
}

.skills li {
  font-family: "Bebas Neue", cursive;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

/*navBar Styles*/
.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger6.svg?color=000");
}

.navbar-toggler {
  box-shadow: 0px 1px 10px black;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  transform: scale(1.03);
  outline-color: chartreuse;
  outline-width: thin;
}

.navbar li {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.navbar li:hover {
  background: -webkit-linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*navBar Styles end*/
.hero-icons {
  z-index: 50;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  top: 0px;
}

.myPic {
  width: 240px;
  position: absolute;
  bottom: 00px;
  z-index: 100;
}

.logo {
  width: 80px;
}

.name-contain {
  position: absolute;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 13%;
}

.name1 {
  font-family: "Anton", sans-serif;
  margin-right: 10px;
  font-size: 9vw;
  letter-spacing: 6px;
}

.name2 {
  font-family: "Anton", sans-serif;
  margin-left: 10px;
  font-size: 9vw;
  letter-spacing: 6px;
}

.webTxt {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5vmin;
  letter-spacing: 2px;
  left: 1vw;
  bottom: 0vw;
}

.devTxt {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5vmin;
  letter-spacing: 2px;
  right: 1vw;
  bottom: 0vw;
}

.brand-state {
  font-family: "Bebas Neue", cursive;
  display: flex;
  margin: auto 10px;
  justify-content: space-evenly;
  position: absolute;
  font-size: 1.5rem;
  bottom: 0vh;
  top: 40vh;
}

.title {
  font-family: "Anton", sans-serif;
  position: absolute;
  margin-top: 30px;
  font-size: 4vmax;
  letter-spacing: 3px;
  border-bottom: 0.5px solid black;
}

.portContain {
  overflow-y: scroll;
}

.card-title,
.card-text {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin: 5px;
}

.links {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.portfolio {
  margin-top: 10vh;
}

.card {
  border: 1px solid black;
  display: flex;
  margin-top: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.207);
}

.portfolio .card img {
  min-height: 100%;
  min-width: 40vh;
  border: 1px solid black;
}

.icon1,
.icon2 {
  font-size: 1.5rem;
}

.fab,
.fas,
.devcon {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cont-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

.subTitle {
  position: absolute;
  align-content: center;
  text-align: center;
  display: flex;
  top: 20%;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 4vh;
}

.phone {
  display: flex;
  justify-content: center;
}

.mail {
  position: absolute;
  top: 50vh;
  display: flex;
}

.fa-phone {
  font-size: 2.5rem;
  margin-right: 5px;
}

.fa-envelope {
  font-size: 3rem;
  position: absolute;

  left: -59px;
  bottom: 0vh;
  background: -webkit-linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactPageIcons {
  position: absolute;
  bottom: 50px;
}

.c-hub,
.fa-linkedin,
.fa-envelope-open {
  font-size: 4vh;
  padding: 10px;
}

.foot {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.228);
  border-top: 0.5px solid black;
  font-family: "Bebas Neue", cursive;
  padding-top: 22px;
  letter-spacing: 3px;
  height: 50px;
  z-index: 2000;
}